/* Giving the body a gradient background that fills the screen. */
body {
    background: linear-gradient(to bottom, #FF512F, #DD2476);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}

.row {
    display: flex;
}

.col {
    flex: 1 0 0%;
}

.nav {
    justify-content: right;
    align-items: center;
}

.nav col {
flex-grow: 0;
padding: 1rem;
}

/* Setting hover functionality to buttons in nav */
.nav a:hover {
    background-color: black;
    color: #efefef;
}

/* Styling to position footer to the bottom of the screen. */
footer {

}